

.listProducts{
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.product{
    width: 200px;
    min-width: 200px;
    box-sizing: border-box;
    /* border: 10px solid transparent; */
    height: 200px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal{
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* top: calc(50% - 100px);
    left: calc(50% - 150px); */
}


.swiperSlide{
    width: auto !important  ;
}
.btnClose{
    top: -20px;
    right: -20px;
    z-index: 13;
}
@media (max-width: 640px){
    .btnClose{
        top: 0 !important;
        right: 0 !important;
        /* z-index: 13; */
    }
}